Repository kalkulacka-one/kalkulacka, pull requests merged in 2024-08, with the labels that each got.

#36 Update Turbo outputs setup
  turbo.json
Labels: refactoring, devops

#43 Change Storybook static build output directory to `build`
  apps/design-system/.gitignore
  apps/design-system/package.json
  apps/design-system/vercel.json
Labels: app:design-system, refactoring

#45 Add schema package
  package-lock.json
  packages/schema/package.json
  packages/schema/schemas/answer.schema.json
  packages/schema/schemas/answers.schema.json
  packages/schema/schemas/calculator-group.schema.json
  packages/schema/schemas/calculator-groups.schema.json
  packages/schema/schemas/calculator.schema.json
  packages/schema/schemas/calculators.schema.json
  packages/schema/schemas/candidate.schema.json
  packages/schema/schemas/candidates-answers.schema.json
  packages/schema/schemas/candidates.schema.json
  packages/schema/schemas/district.schema.json
  packages/schema/schemas/election.schema.json
  packages/schema/schemas/elections.schema.json
  packages/schema/schemas/images.schema.json
  packages/schema/schemas/organization.schema.json
  packages/schema/schemas/organizations.schema.json
  packages/schema/schemas/person.schema.json
  packages/schema/schemas/persons.schema.json
  packages/schema/schemas/question.schema.json
  packages/schema/schemas/questions.schema.json
  packages/schema/schemas/round.schema.json
  packages/schema/schemas/tags.schema.json
  packages/schema/schemas/time-period.schema.json
  packages/schema/schemas/variant.schema.json
Labels: package:schema

#33 Add temporary `LICENSE` file
  LICENSE
Labels: documentation

#42 Move Prettier to dev dependencies
  .github/workflows/build.yaml
  apps/design-system/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/design-system/package.json
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/schema/package.json
  turbo.json
Labels: bug, dependencies, package:design-system, app:design-system
