Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-06, with the labels that each got.

#120 Add design system colors
  apps/design-system.kalkulacka.one/.storybook/preview.tsx
  apps/design-system.kalkulacka.one/stories/colors.mdx
  apps/design-system.kalkulacka.one/stories/typography.mdx
  apps/kalkulatorizgjedhor.al/app/layout.tsx
  packages/design-system/src/styles.css
  packages/design-system/src/themes/kalkulacka.one.css
  packages/design-system/src/themes/www.kalkulacka.one/default.css
  packages/design-system/src/themes/www.volebnikalkulacka.cz/default.css
Labels: package:design-system, app:design-system.kalkulacka.one

#130 Update exports from design system
  apps/design-system.kalkulacka.one/stories/Icon.stories.tsx
  packages/design-system/package.json
  packages/design-system/src/components/client/clientTest.ts
  packages/design-system/src/components/client/index.ts
  packages/design-system/src/components/server/icon.tsx
  packages/design-system/src/components/server/icons/envelopeIcon.tsx
  packages/design-system/src/components/server/icons/index.ts
  packages/design-system/src/components/server/icons/searchIcon.tsx
  packages/design-system/src/components/server/index.ts
  packages/design-system/src/index.ts
  packages/design-system/src/types/icon-types.ts
  turbo.json
Labels: package:design-system

#134 Remove `clsx` package
  package-lock.json
  packages/design-system/package.json
Labels: dependencies, package:design-system

#132 Add contributing guide & architecture docs
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  turbo.json
Labels: documentation

#138 Bump to Node.js 22
  .node-version
  package-lock.json
  package.json
Labels: dependencies
