Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-08, with the labels that each got.

#171 Bump Wrangler in schema app
  package-lock.json
Labels: dependencies, app:schema.kalkulacka.one

#170 Fix schema app
  apps/schema.kalkulacka.one/scripts/copy-schemas.js
Labels: bug, app:schema.kalkulacka.one

#162 Swap Inter font for Geist
  apps/design-system.kalkulacka.one/stories/typography.mdx
  packages/design-system/src/fonts/geist-mono/LICENSE
  packages/design-system/src/fonts/geist-mono/italic.woff2
  packages/design-system/src/fonts/geist-mono/normal.woff2
  packages/design-system/src/fonts/geist/LICENSE
  packages/design-system/src/fonts/geist/italic.woff2
  packages/design-system/src/fonts/geist/normal.woff2
  packages/design-system/src/fonts/inter/italic.woff
  packages/design-system/src/fonts/inter/italic.woff2
  packages/design-system/src/fonts/inter/normal.woff
  packages/design-system/src/fonts/inter/normal.woff2
  packages/design-system/src/fonts/radio-canada/italic.woff
  packages/design-system/src/fonts/radio-canada/normal.woff
  packages/design-system/src/styles.css
  packages/design-system/src/themes/www.kalkulacka.one/default.css
  packages/design-system/src/themes/www.volebnikalkulacka.cz/default.css
Labels: package:design-system, app:design-system.kalkulacka.one

#155 Add toggle button to design system
  apps/design-system.kalkulacka.one/stories/ToggleButton.stories.tsx
  packages/design-system/src/components/client/button.tsx
  packages/design-system/src/components/client/index.ts
  packages/design-system/src/components/client/toggleButton.test.tsx
  packages/design-system/src/components/client/toggleButton.tsx
Labels: package:design-system, app:design-system.kalkulacka.one

#174 Implement schemas for TypeScript in Zod
  packages/schema/package.json
  packages/schema/schemas/answer.schema.ts
  packages/schema/schemas/answers.schema.ts
  packages/schema/schemas/calculator-group.schema.ts
  packages/schema/schemas/calculator-groups.schema.ts
  packages/schema/schemas/calculator.schema.ts
  packages/schema/schemas/calculators.schema.ts
  packages/schema/schemas/candidate.schema.ts
  packages/schema/schemas/candidates-answers.schema.ts
  packages/schema/schemas/candidates.schema.ts
  packages/schema/schemas/district.schema.ts
  packages/schema/schemas/election.schema.ts
  packages/schema/schemas/elections.schema.ts
  packages/schema/schemas/images.schema.ts
  packages/schema/schemas/organization.schema.ts
  packages/schema/schemas/organizations.schema.ts
  packages/schema/schemas/person.schema.ts
  packages/schema/schemas/persons.schema.ts
  packages/schema/schemas/question.schema.ts
  packages/schema/schemas/questions.schema.ts
  packages/schema/schemas/round.schema.ts
  packages/schema/schemas/tags.schema.ts
  packages/schema/schemas/time-period.schema.ts
  packages/schema/schemas/variant.schema.ts
Labels: package:schema

#151 Add internationalization support to Kalkulacka.1 app
  apps/www.kalkulacka.one/app/[lang]/layout.test.tsx
  apps/www.kalkulacka.one/app/[lang]/layout.tsx
  apps/www.kalkulacka.one/app/[locale]/layout.tsx
  apps/www.kalkulacka.one/app/[locale]/page.cs.tsx
  apps/www.kalkulacka.one/app/[locale]/page.en.tsx
  apps/www.kalkulacka.one/app/[locale]/page.tsx
  apps/www.kalkulacka.one/app/[locale]/podporte-kalkulacku/page.tsx
  apps/www.kalkulacka.one/app/[locale]/vlastni-kalkulacka/page.tsx
  apps/www.kalkulacka.one/app/[locale]/zapojte-se/page.tsx
  apps/www.kalkulacka.one/app/i18n/navigation.ts
  apps/www.kalkulacka.one/app/i18n/params.ts
  apps/www.kalkulacka.one/app/i18n/request.ts
  apps/www.kalkulacka.one/app/i18n/routing.ts
  apps/www.kalkulacka.one/app/layout.tsx
  apps/www.kalkulacka.one/app/page.tsx
  apps/www.kalkulacka.one/messages/cs.json
  apps/www.kalkulacka.one/messages/en.json
  apps/www.kalkulacka.one/middleware.ts
  apps/www.kalkulacka.one/next.config.js
  apps/www.kalkulacka.one/package.json
  package-lock.json
Labels: app:kalkulacka.one

#183 Change routing in Czech app
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/vysledek/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/vysledek/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/kalkulacka/[calculator]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/kalkulacka/[calculator]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/kalkulacka/[calculator]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/kalkulacka/[calculator]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/kalkulacka/[calculator]/vysledek/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/vysledek/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/vysledek/page.tsx
Labels: app:volebni-kalkulacka

#193 Add steps and questions routing to Czech app
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/[second]/rekapitulace/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/[first]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/[first]/page.tsx
Labels: app:volebni-kalkulacka
