Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-07, with the labels that each got.

#142 Add more button variants
  apps/design-system.kalkulacka.one/stories/Button.stories.ts
  packages/design-system/src/components/client/button.test.tsx
  packages/design-system/src/components/client/button.tsx
  packages/design-system/src/styles.css
Labels: package:design-system, app:design-system.kalkulacka.one

#136 Add Glasomer (MK) to `README.md`
  README.md
Labels: documentation

#146 Add basic logo to design system
  apps/design-system.kalkulacka.one/stories/Logo.stories.ts
  apps/design-system.kalkulacka.one/stories/colors.mdx
  packages/design-system/src/components/client/index.ts
  packages/design-system/src/components/client/logo.test.tsx
  packages/design-system/src/components/client/logo.tsx
  packages/design-system/src/styles.css
  packages/design-system/src/themes/www.kalkulacka.one/default.css
  packages/design-system/src/themes/www.volebnikalkulacka.cz/default.css
Labels: package:design-system, app:design-system.kalkulacka.one

#149 Update `.well_known` for Matrix
  apps/kalkulacka.one/assets/.well-known/matrix/client
  apps/kalkulacka.one/assets/_headers
  apps/kalkulacka.one/index.js
  apps/kalkulacka.one/wrangler.json
Labels: devops, app:kalkulacka.one

#150 Add core form components to design system
  apps/design-system.kalkulacka.one/stories/Description.stories.tsx
  apps/design-system.kalkulacka.one/stories/Field.stories.tsx
  apps/design-system.kalkulacka.one/stories/Label.stories.tsx
  packages/design-system/src/components/client/description.test.tsx
  packages/design-system/src/components/client/description.tsx
  packages/design-system/src/components/client/field.test.tsx
  packages/design-system/src/components/client/field.tsx
  packages/design-system/src/components/client/index.ts
  packages/design-system/src/components/client/label.test.tsx
  packages/design-system/src/components/client/label.tsx
Labels: package:design-system, app:design-system.kalkulacka.one

#153 Start using design system in Kalkulacka.1 app
  apps/www.kalkulacka.one/app/globals.css
  packages/design-system/src/utils/index.ts
  packages/design-system/src/utils/tailwind.ts
Labels: app:web, package:design-system

#152 Add Volební kalkulačka (CZ) Next.js app
  apps/www.volebnikalkulacka.cz/app/favicon.ico
  apps/www.volebnikalkulacka.cz/app/globals.css
  apps/www.volebnikalkulacka.cz/app/layout.test.tsx
  apps/www.volebnikalkulacka.cz/app/layout.tsx
  apps/www.volebnikalkulacka.cz/app/page.tsx
  apps/www.volebnikalkulacka.cz/next-env.d.ts
  apps/www.volebnikalkulacka.cz/next.config.js
  apps/www.volebnikalkulacka.cz/package.json
  apps/www.volebnikalkulacka.cz/postcss.config.js
  apps/www.volebnikalkulacka.cz/tsconfig.json
  apps/www.volebnikalkulacka.cz/vitestSetup.ts
  biome.json
  package-lock.json
Labels: app:volebni-kalkulacka

#160 Add dot indicator component to design system
  apps/design-system.kalkulacka.one/stories/DotIndicator.stories.ts
  packages/design-system/src/components/server/dotIndicator.test.tsx
  packages/design-system/src/components/server/dotIndicator.tsx
  packages/design-system/src/components/server/index.ts
Labels: package:design-system, app:design-system.kalkulacka.one
