Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-09, with the labels that each got.

#208 Refactor calculator item and election calculator item schemas
  packages/schema/schemas/calculator-group.schema.ts
Labels: bug, package:schema

#210 Fix candidate answers schema example
  packages/schema/schemas/candidates-answers.schema.json
Labels: bug, package:schema

#203 Add data fetching to app
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/fetch-file.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/fetch-file.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/index.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/parse-with-schema.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/parse-with-schema.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/index.ts
Labels: package:app

#205 Update images schema with optimized images
  packages/schema/schemas/images.schema.json
Labels: package:schema

#220 Fix Zod schemas vol. 1
  packages/schema/schemas/calculator.schema.ts
  packages/schema/schemas/district.schema.ts
  packages/schema/schemas/election.schema.ts
  packages/schema/schemas/question.schema.json
Labels: package:schema

#221 Add store & view model concept to app
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/calculator-store-provider.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/stores/calculator.tsx
  apps/www.volebnikalkulacka.cz/calculator/stores/index.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/calculator.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/index.ts
  apps/www.volebnikalkulacka.cz/components/client/index.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/index.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/index.ts
  apps/www.volebnikalkulacka.cz/components/server/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/server/pages/calculator/index.ts
  apps/www.volebnikalkulacka.cz/package.json
  package-lock.json
Labels: app:volebni-kalkulacka, package:app

#165 Add app review question card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
Labels: package:app

#166 Add app result card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/result-card.tsx
Labels: package:app

#228 Add minimal app navigation card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
Labels: package:app

#231 Add minimal guide component
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-component.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-component.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
Labels: package:app

#236 Clean up app review question card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
Labels: refactoring, package:app

#238 Update Claude Code setup
  .claude/settings.json
  .gitignore
  .vscode/settings.json
  CLAUDE.md
Labels: devops

#233 Add minimal question navigation card to app
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
Labels: package:app

#241 Refactor and enhance routing performance in Czech app
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(one-segment)/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(one-segment)/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(one-segment)/[first]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(one-segment)/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(one-segment)/[first]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(two-segments)/[first]/[second]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(two-segments)/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(two-segments)/[first]/[second]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(two-segments)/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/(two-segments)/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/navod/[step]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/navod/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/otazka/[questionNumber]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/otazka/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/page.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/lib/routing/guards/question-number.ts
  apps/www.volebnikalkulacka.cz/lib/routing/guards/step.ts
  apps/www.volebnikalkulacka.cz/lib/routing/route-builders.ts
Labels: app:volebni-kalkulacka, refactoring

#242 Split question view model from questions
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/view-models/index.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/question.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/questions.ts
Labels: refactoring, package:app

#245 Add answers store to app
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(one-segment)/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(kalkulacka)/(two-segments)/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/answers-store-provider.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/calculator-store-provider.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
  apps/www.volebnikalkulacka.cz/calculator/stores/answers.tsx
  apps/www.volebnikalkulacka.cz/calculator/stores/calculator.tsx
  apps/www.volebnikalkulacka.cz/calculator/view-models/answer.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/answers.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/calculator.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidates.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/index.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/questions.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/review.tsx
Labels: package:app

#246 Refactor result-related files in app
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/lib/result-calculation/calculate-matches.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/result-calculation/calculate-matches.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/result.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
Labels: refactoring, package:app

#248 Disable dark mode for Czech app
  apps/www.volebnikalkulacka.cz/app/globals.css
Labels: app:volebni-kalkulacka

#252 Refactor and extend view models in app
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/answer.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/answers.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/calculator.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidate.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidates.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/index.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/organization.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/organizations.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/person.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/persons.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/question.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/questions.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/result.ts
  packages/schema/schemas/organization.schema.ts
Labels: refactoring, package:app

#249 Add Markdown support to introduction
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.tsx
  apps/www.volebnikalkulacka.cz/package.json
  package-lock.json
Labels: package:app

#255 Remove unused imports
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidate.ts
Labels: bug, package:app

#254 Add empty content pages to Czech app
  apps/www.volebnikalkulacka.cz/app/(web)/kontakt/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/layout.test.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/metodika-tvorby-otazek/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/metodika/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/o-nas/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/soukromi/page.tsx
Labels: app:volebni-kalkulacka

#268 Style guide
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-component.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-component.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-navigation-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
Labels: package:app

#274 Add page padding
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
Labels: package:app

#276 Style question card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.tsx
Labels: package:app

#275 Style review question card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
Labels: package:app

#277 Style match card
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  packages/design-system/src/components/server/progressBar.tsx
Labels: package:app

#278 Various fixes and enhancements
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
Labels: app:volebni-kalkulacka, package:app

#283 Add legacy redirects to Czech site
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/metodika-tvorby-otazek/page.tsx
  apps/www.volebnikalkulacka.cz/next.config.js
Labels: app:volebni-kalkulacka

#285 Add purely vibecoded coming soon Czech homepage
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/page.tsx
  apps/www.volebnikalkulacka.cz/components/client/header.tsx
  apps/www.volebnikalkulacka.cz/components/client/index.ts
  apps/www.volebnikalkulacka.cz/components/server/header.tsx
  apps/www.volebnikalkulacka.cz/components/server/index.ts
Labels: app:volebni-kalkulacka

#264 Don't show ranking for undefined matches
  apps/www.volebnikalkulacka.cz/calculator/view-models/result.ts
Labels: package:app

#289 Fix data fetching for optional files
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidate.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/candidates.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/organization.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/organizations.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/person.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/persons.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/result.ts
Labels: bug, package:app

#291 Fix default font loading
  apps/www.kalkulacka.one/app/[locale]/page.cs.tsx
  apps/www.kalkulacka.one/app/[locale]/page.en.tsx
  apps/www.kalkulacka.one/app/[locale]/podporte-kalkulacku/page.tsx
  apps/www.kalkulacka.one/app/[locale]/vlastni-kalkulacka/page.tsx
  apps/www.kalkulacka.one/app/[locale]/zapojte-se/page.tsx
  apps/www.kalkulacka.one/app/globals.css
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/page.tsx
  apps/www.volebnikalkulacka.cz/app/globals.css
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
Labels: bug, app:volebni-kalkulacka, app:kalkulacka.one

#326 Add attribution to navigation card in embeds
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card-attribution.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/introduction.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/review.tsx
  apps/www.volebnikalkulacka.cz/config/embeds.ts
  apps/www.volebnikalkulacka.cz/lib/routing/url-builders.ts
Labels: app:volebni-kalkulacka, package:app

#329 Refactor navigation cards
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
Labels: refactoring, package:app

#330 Enhance navigation cards responsiveness
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card-attribution.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
Labels: bug, package:app

#331 Add `scrollbar-gutter: stable;` to Czech app
  apps/www.volebnikalkulacka.cz/app/globals.css
Labels: bug, app:volebni-kalkulacka

#332 Remove `scrollbar-gutter: stable;` from Czech app
  apps/www.volebnikalkulacka.cz/app/globals.css
Labels: bug, app:volebni-kalkulacka

#333 Enhance title rendering in app header
  apps/www.volebnikalkulacka.cz/calculator/components/client/app-header.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/calculator.ts
  apps/www.volebnikalkulacka.cz/components/client/header.tsx
Labels: enhancement, package:app

#335 Add donate card to result
  apps/www.volebnikalkulacka.cz/calculator/components/client/donate-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
  apps/www.volebnikalkulacka.cz/config/embeds.ts
  packages/design-system/src/components/server/card.tsx
Labels: app:volebni-kalkulacka, package:app

#339 Hotfix cards in app vol. 2
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
Labels: bug, package:app

#344 Hide question number in navigation card on narrow screens
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
Labels: bug, package:app

#188 Set up AppSignal monitoring via OpenTelemetry for Czech app
  apps/www.volebnikalkulacka.cz/.env.example
  apps/www.volebnikalkulacka.cz/instrumentation.ts
  apps/www.volebnikalkulacka.cz/package.json
  package-lock.json
Labels: app:volebni-kalkulacka, devops

#345 Interim styling adjustments for Czech app
  apps/www.kalkulacka.one/app/globals.css
  apps/www.volebnikalkulacka.cz/app/(web)/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/app-header.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/donate-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-question-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
Labels: app:volebni-kalkulacka, package:app

#348 Add all Czech calculator to temporary homepage
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/page.tsx
Labels: app:volebni-kalkulacka

#353 Add badge to design system
  apps/design-system.kalkulacka.one/stories/Badge.stories.tsx
  packages/design-system/src/components/server/badge.test.tsx
  packages/design-system/src/components/server/badge.tsx
  packages/design-system/src/components/server/index.ts
Labels: package:design-system, app:design-system.kalkulacka.one

#265 Add about us page content to Czech app
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/o-nas/page.tsx
Labels: app:volebni-kalkulacka

#267 Add methodology page content to Czech app
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/metodika/page.tsx
Labels: app:volebni-kalkulacka

#360 Disable Plausible on staging in Czech app
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/.env.development.example
  apps/www.volebnikalkulacka.cz/.env.example
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/layout.tsx
  apps/www.volebnikalkulacka.cz/components/server/index.ts
  apps/www.volebnikalkulacka.cz/components/server/plausible.tsx
Labels: app:volebni-kalkulacka, devops

#364 Restructure the environment variables correctly in Czech app
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/components/server/plausible.tsx
  apps/www.volebnikalkulacka.cz/lib/routing/url-builders.ts
  turbo.json
Labels: bug, app:volebni-kalkulacka, refactoring, devops

#366 Canonical URL environment variable needs to be `NEXT_PUBLIC_`
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/lib/routing/url-builders.ts
  turbo.json
Labels: bug, app:volebni-kalkulacka, devops

#361 Add and refactor button states to fix touch
  packages/design-system/src/components/client/button.tsx
Labels: bug, package:design-system

#343 Fix primary answer toggle button states styling
  packages/design-system/src/components/client/button.tsx
  packages/design-system/src/components/client/toggleButton.tsx
Labels: package:design-system

#365 Add icon badge component to design system
  apps/design-system.kalkulacka.one/stories/IconBadge.stories.tsx
  packages/design-system/src/components/server/iconBadge.test.tsx
  packages/design-system/src/components/server/iconBadge.tsx
  packages/design-system/src/components/server/index.ts
Labels: package:design-system, app:design-system.kalkulacka.one

#373 Add AppSignal front-end monitoring to Czech app
  apps/www.volebnikalkulacka.cz/.env.development.example
  apps/www.volebnikalkulacka.cz/.env.example
  apps/www.volebnikalkulacka.cz/app/(embed)/embed/[embed]/error.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/error.tsx
  apps/www.volebnikalkulacka.cz/app/global-error.tsx
  apps/www.volebnikalkulacka.cz/components/client/error-reporter.tsx
  apps/www.volebnikalkulacka.cz/lib/monitoring/appsignal.ts
  apps/www.volebnikalkulacka.cz/lib/monitoring/index.ts
  apps/www.volebnikalkulacka.cz/next.config.js
  apps/www.volebnikalkulacka.cz/package.json
  package-lock.json
Labels: app:volebni-kalkulacka, devops

#374 Bring back default Next.js errors to Czech app
  apps/www.volebnikalkulacka.cz/app/(web)/error.tsx
  apps/www.volebnikalkulacka.cz/app/error.tsx
  apps/www.volebnikalkulacka.cz/app/global-error.tsx
Labels: app:volebni-kalkulacka

#352 Move attribution to footer
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/embed-attribution.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/embed-footer.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/guide-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/introduction-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/question-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/review-navigation-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/guide.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/introduction.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/question.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/result.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/review.tsx
  apps/www.volebnikalkulacka.cz/components/client/embed-context-provider.tsx
  apps/www.volebnikalkulacka.cz/components/client/header.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/introduction.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/review.tsx
  apps/www.volebnikalkulacka.cz/config/embeds.ts
Labels: package:app

#378 Add minimal footer to Czech app
  apps/www.volebnikalkulacka.cz/app/(web)/(content)/layout.tsx
  apps/www.volebnikalkulacka.cz/components/server/footer.tsx
  apps/www.volebnikalkulacka.cz/components/server/index.ts
Labels: app:volebni-kalkulacka

#372 Add persistent sessions support to Czech app
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/app/api/sessions/route.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/index.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/parse-with-schema.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/index.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/utilities/index.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/utilities/parse-with-schema.ts
  apps/www.volebnikalkulacka.cz/components/client/index.ts
  apps/www.volebnikalkulacka.cz/components/client/provider-layout.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-initializer.tsx
  apps/www.volebnikalkulacka.cz/lib/api/index.ts
  apps/www.volebnikalkulacka.cz/lib/api/sessions.ts
  apps/www.volebnikalkulacka.cz/lib/errors/http-error.ts
  apps/www.volebnikalkulacka.cz/lib/errors/index.ts
  apps/www.volebnikalkulacka.cz/lib/errors/internal-server-error.ts
  apps/www.volebnikalkulacka.cz/lib/errors/json-parse-error.ts
  apps/www.volebnikalkulacka.cz/lib/errors/validation-error.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/calculator-full-key.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/cookie-name.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/get-session-cookie.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/index.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/set-session-cookie.ts
  apps/www.volebnikalkulacka.cz/lib/session/create-session.ts
  apps/www.volebnikalkulacka.cz/lib/session/get-user-sessions.ts
  apps/www.volebnikalkulacka.cz/lib/session/index.ts
  packages/database/prisma/migrations/20250919101626_calculator_session/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: app:volebni-kalkulacka

#382 Add support for (re)storing answers
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/app/api/calculators/[calculator-id]/session-data/route.ts
  apps/www.volebnikalkulacka.cz/app/api/sessions/route.ts
  apps/www.volebnikalkulacka.cz/calculator/stores/answers.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/introduction.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/review.tsx
  apps/www.volebnikalkulacka.cz/components/client/provider-layout.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-data-loader.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-initializer.tsx
  apps/www.volebnikalkulacka.cz/lib/api/handle-response-error.ts
  apps/www.volebnikalkulacka.cz/lib/api/session-data.ts
  apps/www.volebnikalkulacka.cz/lib/api/sessions.ts
  apps/www.volebnikalkulacka.cz/lib/errors/index.ts
  apps/www.volebnikalkulacka.cz/lib/errors/not-found-error.ts
  apps/www.volebnikalkulacka.cz/lib/errors/unauthorized-error.ts
  apps/www.volebnikalkulacka.cz/lib/monitoring/index.ts
  apps/www.volebnikalkulacka.cz/lib/monitoring/report-error.ts
  apps/www.volebnikalkulacka.cz/lib/session/cookie/set-session-cookie.ts
  packages/database/prisma/migrations/20250927164441_add_calculator_session_data/migration.sql
  packages/database/prisma/migrations/20250927175652_fix_calculator_session_constraint/migration.sql
  packages/database/prisma/schema.prisma
Labels: app:volebni-kalkulacka, package:database, package:app

#383 Fix cookie payload
  apps/www.volebnikalkulacka.cz/.env
  apps/www.volebnikalkulacka.cz/.env.example
  apps/www.volebnikalkulacka.cz/lib/session/cookie/calculator-full-key.ts
Labels: bug, app:volebni-kalkulacka

#385 Remove useless error handling on client
  apps/www.volebnikalkulacka.cz/components/client/session-data-loader.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-initializer.tsx
  apps/www.volebnikalkulacka.cz/lib/api/handle-response-error.ts
  apps/www.volebnikalkulacka.cz/lib/api/session-data.ts
  apps/www.volebnikalkulacka.cz/lib/api/sessions.ts
Labels: bug, app:volebni-kalkulacka

#388 Refactor result view model to separate matches hook
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/result.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/result.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
Labels: app:volebni-kalkulacka, refactoring, package:app

#387 Add support for storing result
  apps/www.volebnikalkulacka.cz/app/api/calculators/[calculator-id]/session-data/route.ts
  apps/www.volebnikalkulacka.cz/app/api/sessions/route.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-data-loader.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-initializer.tsx
  apps/www.volebnikalkulacka.cz/lib/api/session-data.ts
  apps/www.volebnikalkulacka.cz/lib/session/create-session.ts
  packages/database/prisma/migrations/20250928095217_add_version_and_result_column/migration.sql
  packages/database/prisma/schema.prisma
Labels: app:volebni-kalkulacka

#389 Fix version handling when storing session data
  apps/www.volebnikalkulacka.cz/app/api/calculators/[calculator-id]/session-data/route.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/guide.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/introduction.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/result.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/review.tsx
  apps/www.volebnikalkulacka.cz/lib/api/session-data.ts
Labels: bug, app:volebni-kalkulacka

#394 Save progress even for skipped questions
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/question.tsx
Labels: app:volebni-kalkulacka

#395 Split layout provider into two
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(one-segment)/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(two-segments)/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/components/client/index.ts
  apps/www.volebnikalkulacka.cz/components/client/provider-layout.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-provider-layout.tsx
Labels: app:volebni-kalkulacka

#392 Add public result page
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(one-segment)/[first]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(one-segment)/[first]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(two-segments)/[first]/[second]/layout.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(two-segments)/[first]/[second]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/api/calculators/[calculator-id]/sessions:share/route.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/index.ts
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/public-result.tsx
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/index.ts
  apps/www.volebnikalkulacka.cz/components/client/pages/calculator/public-result.tsx
  apps/www.volebnikalkulacka.cz/lib/routing/route-builders.ts
  apps/www.volebnikalkulacka.cz/lib/routing/url-builders.ts
  packages/database/prisma/migrations/20250929163247_add_public_id_to_calculator_session/migration.sql
  packages/database/prisma/schema.prisma
Labels: app:volebni-kalkulacka, package:app

#396 Add public result page OpenGraph image generation
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(one-segment)/[first]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(two-segments)/[first]/[second]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/api/images/sessions/[public-id]/[type]/route.tsx
  apps/www.volebnikalkulacka.cz/app/api/session/[public-id]/route.ts
  apps/www.volebnikalkulacka.cz/lib/routing/url-builders.ts
Labels: app:volebni-kalkulacka

#400 Fix sessions in embeds
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/embed-footer.tsx
  apps/www.volebnikalkulacka.cz/lib/session/cookie/set-session-cookie.ts
Labels: bug, app:volebni-kalkulacka

#401 Enhance OpenGraph image generation
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(one-segment)/[first]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/(web)/(app)/volby/(public)/(two-segments)/[first]/[second]/vysledek/[publicId]/page.tsx
  apps/www.volebnikalkulacka.cz/app/api/calculators/[calculator-id]/sessions:share/route.ts
  apps/www.volebnikalkulacka.cz/lib/metadata/calculator.ts
Labels: app:volebni-kalkulacka

#409 Change amounts in donate card
  apps/www.volebnikalkulacka.cz/calculator/components/client/donate-card.tsx
Labels: app:volebni-kalkulacka
