Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-10, with the labels that each got.

#411 Add avatars to results
  apps/design-system.kalkulacka.one/stories/Avatar.stories.tsx
  apps/www.volebnikalkulacka.cz/app/api/images/sessions/[public-id]/[type]/route.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/match-card.test.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/client/match-card.tsx
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/image-url-builder.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.test.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/load-calculator-data.ts
  apps/www.volebnikalkulacka.cz/calculator/lib/data-fetching/url-builders.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/calculator.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/candidate-answer.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/candidate-answers.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/candidate.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/candidates.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/organization.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/organizations.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/person.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/persons.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/question.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/questions.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/client/result.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/candidate.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/candidates.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/organization.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/organizations.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/person.ts
  apps/www.volebnikalkulacka.cz/calculator/view-models/server/persons.ts
  apps/www.volebnikalkulacka.cz/components/client/session-data-loader.tsx
  apps/www.volebnikalkulacka.cz/components/client/session-initializer.tsx
  apps/www.volebnikalkulacka.cz/lib/metadata/calculator.ts
  packages/design-system/src/components/server/avatar.tsx
  packages/design-system/src/components/server/index.ts
Labels: package:design-system, app:volebni-kalkulacka, package:app

#413 Add status and Plausible link to footer in Czech app
  apps/www.volebnikalkulacka.cz/components/server/footer.tsx
Labels: app:volebni-kalkulacka

#414 Add fixed header for comparison page
  apps/www.volebnikalkulacka.cz/calculator/components/server/components/layout.tsx
  apps/www.volebnikalkulacka.cz/calculator/components/server/pages/comparison.tsx
Labels: bug, app:volebni-kalkulacka

#181 Refactor Kalkulacka.1 app internationalization
  apps/www.kalkulacka.one/app/[locale]/layout.tsx
  apps/www.kalkulacka.one/app/[locale]/page.tsx
  apps/www.kalkulacka.one/app/[locale]/vlastni-kalkulacka/page.tsx
  apps/www.kalkulacka.one/app/[locale]/zapojte-se/page.tsx
  apps/www.kalkulacka.one/app/page.tsx
  apps/www.kalkulacka.one/i18n/navigation.ts
  apps/www.kalkulacka.one/i18n/params.ts
  apps/www.kalkulacka.one/i18n/request.ts
  apps/www.kalkulacka.one/i18n/routing.ts
  apps/www.kalkulacka.one/next.config.js
Labels: refactoring, app:kalkulacka.one
