Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-04, with the labels that each got.

#97 Add Albanian Kalkulatori zgjedhor empty app
  apps/kalkulatorizgjedhor.al/README.md
  apps/kalkulatorizgjedhor.al/app/favicon.ico
  apps/kalkulatorizgjedhor.al/app/globals.css
  apps/kalkulatorizgjedhor.al/app/layout.tsx
  apps/kalkulatorizgjedhor.al/app/page.tsx
  apps/kalkulatorizgjedhor.al/next-env.d.ts
  apps/kalkulatorizgjedhor.al/next.config.js
  apps/kalkulatorizgjedhor.al/package.json
  apps/kalkulatorizgjedhor.al/postcss.config.js
  apps/kalkulatorizgjedhor.al/public/fonts/radio-canada/italic.woff
  apps/kalkulatorizgjedhor.al/public/fonts/radio-canada/italic.woff2
  apps/kalkulatorizgjedhor.al/public/fonts/radio-canada/normal.woff
  apps/kalkulatorizgjedhor.al/public/fonts/radio-canada/normal.woff2
  apps/kalkulatorizgjedhor.al/tsconfig.json
  package-lock.json
Labels: app:www.kalkulatorizgjedhor.al

#105 Move Storybook to `apps/design-system.kalkulacka.one`
  apps/design-system.kalkulacka.one/.storybook/main.ts
  apps/design-system.kalkulacka.one/.storybook/preview.tsx
  apps/design-system.kalkulacka.one/package.json
  apps/design-system.kalkulacka.one/public/.keep
  apps/design-system.kalkulacka.one/stories/demo.stories.ts
  apps/design-system.kalkulacka.one/stories/heading.stories.ts
  apps/design-system.kalkulacka.one/stories/typography.mdx
  apps/design-system.kalkulacka.one/tsconfig.json
  package-lock.json
Labels: app:design-system, refactoring

#95 Move schema app to `apps/schema.kalkulacka.one`
  apps/schema-web/wrangler.json
  apps/schema.kalkulacka.one/.gitignore
  apps/schema.kalkulacka.one/index.js
  apps/schema.kalkulacka.one/package.json
  apps/schema.kalkulacka.one/scripts/copy-schemas.js
  apps/schema.kalkulacka.one/scripts/generate-openapi.js
  apps/schema.kalkulacka.one/wrangler.json
  package-lock.json
Labels: refactoring, devops, app:schema-web

#106 Clean up design system
  apps/design-system.kalkulacka.one/.storybook/preview.tsx
  apps/design-system.kalkulacka.one/stories/demo.stories.ts
  apps/design-system.kalkulacka.one/stories/heading.stories.ts
  apps/kalkulatorizgjedhor.al/app/layout.tsx
  packages/design-system/README.md
  packages/design-system/package.json
  packages/design-system/src/demo.tsx
  packages/design-system/src/heading.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/styles.css
  packages/design-system/src/themes/kalkulacka.one.css
  packages/design-system/src/themes/theme-default.css
  packages/design-system/src/themes/theme-idnes.css
  packages/design-system/tsconfig.lint.json
Labels: package:design-system, app:design-system.kalkulacka.one, refactoring

#107 Add Inter typeface
  apps/design-system.kalkulacka.one/stories/typography.mdx
  packages/design-system/src/fonts/inter/LICENSE
  packages/design-system/src/fonts/inter/italic.woff
  packages/design-system/src/fonts/inter/italic.woff2
  packages/design-system/src/fonts/inter/normal.woff
  packages/design-system/src/fonts/inter/normal.woff2
  packages/design-system/src/styles.css
  packages/design-system/src/themes/kalkulacka.one.css
Labels: package:design-system

#111 Make icon title mandatory
  apps/design-system.kalkulacka.one/stories/Icon.stories.tsx
  packages/design-system/src/components/icon.tsx
  packages/design-system/src/components/icons/envelopeIcon.tsx
  packages/design-system/src/components/icons/searchIcon.tsx
Labels: bug, package:design-system
