Repository kalkulacka-one/kalkulacka, pull requests merged in 2025-03, with the labels that each got.

#84 Update schema app Turbo setup
  apps/schema-web/.gitignore
  apps/schema-web/index.js
  apps/schema-web/package.json
  apps/schema-web/scripts/copy-schemas.js
  apps/schema-web/scripts/generate-openapi.js
  apps/schema-web/wrangler.toml
  package-lock.json
  package.json
  turbo.json
Labels: refactoring, app:schema-web

#89 Bump to Tailwind 4
  apps/web/app/globals.css
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
  biome.json
  package-lock.json
  packages/design-system/package.json
  packages/design-system/postcss.config.js
  packages/design-system/src/demo.tsx
  packages/design-system/src/heading.tsx
  packages/design-system/src/styles.css
  packages/design-system/tailwind.config.ts
Labels: app:web, dependencies, package:design-system

#92 Update schema app deployment
  apps/schema-web/wrangler.json
  apps/schema-web/wrangler.toml
Labels: refactoring, devops, app:schema-web

#88 Update dependencies
  apps/design-system/package.json
  apps/schema-web/package.json
  apps/web/app/[lang]/layout.tsx
  apps/web/app/[lang]/page.tsx
  apps/web/app/[lang]/podporte-kalkulacku/page.tsx
  apps/web/app/[lang]/vlastni-kalkulacka/page.tsx
  apps/web/app/[lang]/zapojte-se/page.tsx
  apps/web/next-env.d.ts
  apps/web/package.json
  package-lock.json
  package.json
  packages/design-system/config/borderRadius.ts
  packages/design-system/config/colors.ts
  packages/design-system/config/spacing.ts
  packages/design-system/config/typography.ts
  packages/design-system/package.json
  packages/schema/package.json
  turbo.json
Labels: app:web, dependencies, package:design-system, app:design-system, package:schema, app:schema-web

#93 Add new `kalkulacka.one` app for root domain without www
  apps/kalkulacka.one/index.js
  apps/kalkulacka.one/package.json
  apps/kalkulacka.one/wrangler.json
  package-lock.json
Labels: app:kalkulacka.one

#94 Add `.well-known` files for Matrix
  apps/kalkulacka.one/assets/.well-known/matrix/client
  apps/kalkulacka.one/assets/.well-known/matrix/server
  apps/kalkulacka.one/wrangler.json
Labels: devops, app:kalkulacka.one

#96 Serve Matrix `.well-known` files as JSON
  apps/kalkulacka.one/index.js
  apps/kalkulacka.one/wrangler.json
Labels: devops, app:kalkulacka.one
